/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#Page{
  width:79%;
}

.element-options, .elements-container, .element-styles{
  width:10%;
}

.element-styles{
  background-color:#f7f7f7;
  display:none;
  padding:10px;
  display: block;
  height: 90%;
  overflow-x: auto;
  position: fixed;
  right: 0;
}

.active{
  border:1px solid;
}

.elements-container{
  height:100vh;
  padding: 0 20px 0 10px;
}

.elements-container button{
  border:0;
  background:#efefef;
  padding:15px 10px;
  border-radius:4px;
  margin:5px 0;
  color:#007fa8;
}

#divOptions input, select{
  width:100%;
  font-size:14px;
  margin-top:5px;
  border: none;
  border-bottom:1px solid lightgrey;
}
#Page *:nth-child(2n + 2)::before{
    content: '→';
    position: absolute;
    transform: translateX(-150%);
    background: #619bb3;
    color: #fff;
    padding: 0px 7px;
    border-radius: 10px 0 0 10px;
}
#Page *:nth-child(2n + 1)::before{
  content: '→';
  position: absolute;
  transform: translateX(-250%);
  background: #619bb3;
  color: #fff;
  padding: 0px 7px;
  border-radius: 10px 0 0 10px;
}

.element-styles textarea{
  width:100%;
}